services:
  db:
    image: postgres
    environment:
      - POSTGRES_USER=stan
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  sveltekit:
    image: oven/bun
    volumes:
      - ./packages/web:/app
    working_dir: /app
    command: bun run dev --host
    ports:
      - "3000:5173"
    env_file: .env
    develop:
      watch:
        - action: sync
          path: ./packages/web
          target: /app

volumes:
  db-data:
